@use "../../styles/partials/flixmixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

/* Styling for the main article component */
.article {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include desktop {
    padding: 20px 0;
  }

  /* Styling for the article title */
  &__title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    line-height: 3rem;
    @include desktop {
      padding-left: 14px;
    }
  }

  &__divide {
    height: 1px;
    background-color: $brainFlixMercury;
    margin: 20px 0;
   &--one {
    @include desktop { /* Hides the divider on desktop and adjusts width */
    display: none;
    width: 100%;
    }
   }
    }



  /* Layout for author, date, views, and likes */
  &__nameLikesDate {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    @include tablet {
      justify-content: space-between;
    }
    @include desktop {
      padding: 0 20px;
    }
  }

  /* Container for displaying stats */
  &__stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 10px;
    @include tablet {
      flex-direction: row;
    }
  }

  /* Common styling for date, views, and likes */
  &__date,
  &__views,
  &__likes {
    color: #777;
  }

  /* Author name styling */
  &__author {
    font-size: 14px;
    margin-bottom: 5px;
  }

  /* Main content styling */
  &__content {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 20px;
  }
}
