
@use "../../styles/partials/flixmixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;


.hero{
  flex-grow: 1;
  &__video{
    width: 100%;
    height: 100%;
    background-color: $brainFlixDarkblack;
    @include desktop{
      padding:0 12rem;
    }
  }
}

  