
// ========primary colors======

$brainFlixBlack: #323232;
$brainFlixWhite: #FFFFFF;
$brainFlixSilver: #AFAFAF;
$brainFlixDarkBlueHover: #0065AD;
$brainFlixBlue: #0095FF;

// ===========Secondary colors==========

$brainFlixDarkblack: #000000;
$brainFlixMercury: #E1E1E1;
$brainFlixAlabaster: #FAFAFA;




// ======= media queries layout======

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;



// DESKTOP / TABLET
$PaddingBeforeHeadlines: 48px;
$PaddingAfterHeadlines: 36px;
$PaddingBetweenComponents: 36px;

// MOBILE
$MoPaddingBeforeHeadlines: 24px;
$MoPaddingAfterHeadlines: 16px;
$MoPaddingBetweenComponents: 16px;

