@use "./styles/partials/flixmixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;

/* Global box model and reset for all elements */
* {
  box-sizing: border-box; 
  padding: 0; 
}

/* Default font setting for body */
body {
  font-family: "AvenirNext LT Pro", sans-serif; /* Set default font */
}

/* Desktop-specific styles for .aside__videos component */
.aside__videos {
  @include desktop { 
    display: flex; 
    flex-direction: row; 
    
    /* Styles for comments section */
    .aside__comment {
      flex: 4; 
      margin-left: 4rem; 
      border-right: 1px solid $brainFlixMercury; 
    }
    
    /* Styles for videos list */
    .aside__videosOnly { 
      flex: 2; 
    }
  }
}



