@use "./styles/partials/flixmixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;

/* Apply a universal box model and reset margins and paddings for all elements */
* {
  box-sizing: border-box; /* Makes sure padding and border are included in the element's total width and height */
  margin: 0; /* Removes the default margin */
  padding: 0; /* Removes the default padding */
}

/* Set a default font family for the body, affecting all text unless overridden */
body {
  font-family: "AvenirNext LT Pro", sans-serif; /* Sets a specific font for better typography */
}

/* Styles specific to the .aside__videos component, particularly for desktop screens */
.aside__videos {
  @include desktop { /* This line likely represents a media query mixin for desktop screen sizes */
    display: flex; /* Enables flexbox layout, allowing child elements to be flex items */
    flex-direction: row; /* Arranges flex items in a row */
    
    /* Styles specific to the .aside__comment class within .aside__videos */
    .aside__comment {
      flex: 4; /* Allocates space to this element, taking up 4 parts of the available space */
      margin-left:  4rem; /* Adds a left margin for spacing from the container's edge or other elements */
      border-right: 1px solid $brainFlixMercury; /* Adds a right border with a color defined by a variable */
    }
    
    /* Styles specific to the .aside__videosOnly class within .aside__videos */
    .aside__videosOnly { 
      flex: 2; /* Allocates space to this element, taking up 2 parts of the available space, making it smaller than .aside__comment */
    }
  }
}


